@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&family=IBM+Plex+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color: #fff;
  --color-bg: #1295ac;
}

html,
body,
#root,
.container {
  font-family: 'Ubuntu', sans-serif;
  background-color: #0a9396;
}

.container .menu {
  position: fixed;
  height: 100%;
  padding-top: .5em;
}

.container .menu .div {
  height: 100%;
  z-index: 999;
  display: inline-block;
}

.container .menu #menu-icon,
.container .menu #notification,
.container .menu #question,
.container .menu #message {
  padding: .5em 1em;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.container .menu #notification {
  position: relative;
}

.container .menu #notification .notification {
  font-size: 15px;
  top: 10px;
  left: 35px;
  border: 2px solid red;
  padding: 0px 4px;
  border-radius: 50%;
  position: absolute;
  background-color: red;
}

.container .menu .toggleDisplay {
  display: contents;
}

.container .menu .toggleDisplay ul {
  display: contents;
}

.container .menu .toggleDisplay ul li {
  opacity: 0;
  margin: 2em;
  font-size: 20px;
  padding-left: 1em;
  list-style: none;
  -webkit-animation: menuAnimation .8s ease forwards;
          animation: menuAnimation .8s ease forwards;
}

.container .menu .toggleDisplay ul li:hover {
  opacity: 1;
  text-align: center;
  padding: .2em 0;
  background-color: #94d2bd;
  color: #000;
  -webkit-box-shadow: -2px -2px white;
          box-shadow: -2px -2px white;
  border-radius: 20px;
}

.container .menu .toggleDisplay ul li .warning {
  display: none;
  color: red;
  font-size: 1em;
  padding-left: 2em;
  -webkit-animation: deadlineAnimation 1s ease infinite forwards running;
          animation: deadlineAnimation 1s ease infinite forwards running;
}

.container .menu .toggleDisplay ul li #notif {
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
}

.container .menuDisplay {
  width: 100%;
  background-color: rgba(102, 97, 97, 0.5);
  color: #fff;
}

.container .menuDisplay #menu-icon,
.container .menuDisplay #notification,
.container .menuDisplay #question,
.container .menuDisplay #message {
  display: none;
}

.container .menuDisplay .div {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #0a9396), color-stop(90%, #005f73));
  background: linear-gradient(to top, #0a9396 10%, #005f73 90%);
}

.container .menuDisplay .div .close {
  opacity: 0;
  font-size: 1.5em;
  margin-bottom: 2em;
  -webkit-transform: translateX(305px) translateY(20px);
          transform: translateX(305px) translateY(20px);
  background-color: #fff;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  -webkit-animation: display 1s forwards;
          animation: display 1s forwards;
}

.container .menuDisplay .div .close:active {
  color: #fff;
  background-color: red;
  border: none;
}

.container .menuDisplay .div .close #close {
  padding: 5px 10px;
}

.container .menuClose .div {
  -webkit-animation: LiAnimation .5s forwards;
          animation: LiAnimation .5s forwards;
}

.container .menuClose .div .close {
  display: none;
}

.container .menuClose ul {
  display: none;
}

.container .main {
  padding: 1em;
  padding-left: 4em;
  width: 100%;
}

.container .main .header h1 {
  font-size: 23px;
  color: #fff;
}

.container .main .header p {
  margin: -1em auto 3em;
  text-align: right;
  font-family: 'IBM Plex Serif', serif;
  color: #fff;
}

.container .main .create {
  width: 55%;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: auto;
  padding: 2em;
}

.container .main .create h1 {
  text-align: center;
  margin-bottom: 1em;
}

.container .main .create main {
  display: -ms-grid;
  display: grid;
  margin: auto 4em;
}

.container .main .create main label {
  margin: 1.5em 0 .5em;
  font-size: 15px;
}

.container .main .create main input,
.container .main .create main textarea {
  padding: .5em .5em .5em 1em;
  border-radius: 20px;
  border: 2px solid #fff;
}

.container .main .create main button {
  width: 30%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em auto;
  padding: .5em 0;
  border-radius: 20px;
  border: none;
}

.container .main .create main button:hover {
  background-color: #1295ac;
  color: #fff;
  -webkit-box-shadow: 0 0 3px #fff;
          box-shadow: 0 0 3px #fff;
}

.container .main .homework,
.container .main .recent,
.container .main .deadline {
  display: none;
  width: 55%;
  margin: auto;
}

.container .main .homework h1,
.container .main .recent h1,
.container .main .deadline h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
}

.container .main .homework main ul,
.container .main .recent main ul,
.container .main .deadline main ul {
  display: contents;
}

.container .main .homework main ul li,
.container .main .recent main ul li,
.container .main .deadline main ul li {
  margin: 1em;
  padding: .5em 1em;
  background-color: #bce3f1;
  list-style: none;
  overflow: hidden;
  border-radius: 20px;
  border: 6px double #1295ac;
}

.container .main .homework main ul li h2,
.container .main .homework main ul li p,
.container .main .homework main ul li h4,
.container .main .recent main ul li h2,
.container .main .recent main ul li p,
.container .main .recent main ul li h4,
.container .main .deadline main ul li h2,
.container .main .deadline main ul li p,
.container .main .deadline main ul li h4 {
  margin: .3em 0;
}

.container .main .homework main ul li h5,
.container .main .recent main ul li h5,
.container .main .deadline main ul li h5 {
  float: right;
  margin-right: .5em;
}

.container .main .homework main ul li button,
.container .main .recent main ul li button,
.container .main .deadline main ul li button {
  background-color: white;
  float: right;
  padding: .5em 1.5em;
  margin: 0 .8em .5em 0;
  border: none;
  border-radius: 5px;
}

.container .main .homework main ul li button:hover,
.container .main .recent main ul li button:hover,
.container .main .deadline main ul li button:hover {
  color: #fff;
}

.container .main .homework button:hover {
  background-color: #05ec24;
}

.container .main .recent button:hover,
.container .main .deadline button:hover {
  background-color: #ec2405;
}

@-webkit-keyframes menuAnimation {
  0% {
    width: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 300px;
    opacity: 1;
  }
}

@keyframes menuAnimation {
  0% {
    width: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 300px;
    opacity: 1;
  }
}

@-webkit-keyframes LiAnimation {
  0% {
    width: 300px;
    background-color: aliceblue;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 0;
    display: none;
  }
}

@keyframes LiAnimation {
  0% {
    width: 300px;
    background-color: aliceblue;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 0;
    display: none;
  }
}

@-webkit-keyframes deadlineAnimation {
  50% {
    font-size: .5em;
  }
}

@keyframes deadlineAnimation {
  50% {
    font-size: .5em;
  }
}

@-webkit-keyframes display {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes display {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 413px) {
  .container .menu .toggleDisplay ul li {
    font-size: 15px;
  }
  .container .main .header h1 {
    font-size: 22px;
  }
  .container .main .header p {
    margin: 2em auto;
    font-size: 10px;
  }
  .container .main .create main {
    width: 100%;
    margin: auto;
  }
  .container .main .create main label {
    font-size: 15px;
  }
  .container .main .create h1 {
    font-size: 22px;
    text-align: center;
  }
  .container .main .homework,
  .container .main .recent,
  .container .main .deadline {
    margin: 1em auto;
  }
  .container .main .homework h1,
  .container .main .recent h1,
  .container .main .deadline h1 {
    font-size: 20px;
  }
  .container .main .homework h2,
  .container .main .homework p,
  .container .main .homework h4,
  .container .main .recent h2,
  .container .main .recent p,
  .container .main .recent h4,
  .container .main .deadline h2,
  .container .main .deadline p,
  .container .main .deadline h4 {
    font-size: 10px;
  }
  .container .main .homework button,
  .container .main .recent button,
  .container .main .deadline button {
    padding: 0 1em;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */