@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine&family=IBM+Plex+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color: blue;
}

html,
body,
#root,
.container {
  font-family: 'Ubuntu', sans-serif;
}

.container .menuDisplay {
  width: 100%;
  background-color: rgba(102, 97, 97, 0.5);
}

.container .menu {
  position: fixed;
  height: 100%;
}

.container .menu .div {
  background-color: aliceblue;
  height: 100%;
  z-index: 999;
  display: inline-block;
}

.container .menu .fas {
  padding: .5em;
  font-size: 1.5em;
}

.container .menu .toggleDisplay {
  display: contents;
}

.container .menu .toggleDisplay ul {
  display: contents;
}

.container .menu .toggleDisplay ul li {
  opacity: 0;
  margin: 2em;
  font-size: 20px;
  padding-left: 1em;
  list-style: none;
  -webkit-animation: menuAnimation .8s ease forwards;
          animation: menuAnimation .8s ease forwards;
}

.container .menu .toggleDisplay ul li:hover {
  opacity: 1;
  text-align: center;
  padding: .2em 0;
  background-color: cornflowerblue;
  color: white;
  -webkit-animation: liAnimation 1s ease forwards;
          animation: liAnimation 1s ease forwards;
  border: 2px solid black;
  border-radius: 20px;
}

.container .menu .toggleDisplay ul li .fas {
  display: none;
  color: red;
  font-size: 1em;
  -webkit-animation: deadlineAnimation 1s ease infinite forwards running;
          animation: deadlineAnimation 1s ease infinite forwards running;
}

.container .menu .toggleDisplay ul li #notif {
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
}

.container .menu ul {
  display: none;
}

.container .main {
  padding: 1em;
  padding-left: 4em;
  width: 100%;
}

.container .main .header h1 {
  font-size: 40px;
  text-align: center;
}

.container .main .header p {
  margin: 3em auto 0;
  text-align: right;
  font-family: 'IBM Plex Serif', serif;
}

.container .main .create {
  display: block;
}

.container .main .create main {
  display: -ms-grid;
  display: grid;
  width: 50%;
  margin: auto;
}

.container .main .create main label {
  margin: 1.5em 0 .5em;
  font-size: 15px;
}

.container .main .create main input,
.container .main .create main textarea {
  padding: .5em .5em .5em 1em;
  border-radius: 20px;
}

.container .main .create main button {
  width: 40%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em auto;
  padding: .5em 0;
  background-color: #00ff40;
  border-radius: 20px;
  border: none;
}

.container .main .homework,
.container .main .recent,
.container .main .deadline {
  display: none;
}

.container .main .homework main ul,
.container .main .recent main ul,
.container .main .deadline main ul {
  display: contents;
}

.container .main .homework main ul li,
.container .main .recent main ul li,
.container .main .deadline main ul li {
  margin: 1em;
  padding: .5em 1em;
  background-color: whitesmoke;
  -webkit-box-shadow: 2px 2px 5px rgba(202, 201, 201, 0.5), -2px -2px 5px rgba(202, 201, 201, 0.5);
          box-shadow: 2px 2px 5px rgba(202, 201, 201, 0.5), -2px -2px 5px rgba(202, 201, 201, 0.5);
  list-style: none;
  overflow: hidden;
  border-radius: 20px;
}

.container .main .homework main ul li h2,
.container .main .homework main ul li p,
.container .main .homework main ul li h4,
.container .main .recent main ul li h2,
.container .main .recent main ul li p,
.container .main .recent main ul li h4,
.container .main .deadline main ul li h2,
.container .main .deadline main ul li p,
.container .main .deadline main ul li h4 {
  margin: .3em 0;
}

.container .main .homework main ul li h5,
.container .main .recent main ul li h5,
.container .main .deadline main ul li h5 {
  float: right;
  margin-right: .5em;
}

.container .main .homework main ul li button,
.container .main .recent main ul li button,
.container .main .deadline main ul li button {
  background-color: #bbb;
  float: right;
  padding: .2em 1em;
  margin: 0 1em .8em 0;
  border: none;
  border-radius: 5px;
}

.container .main .homework main ul li button:hover,
.container .main .recent main ul li button:hover,
.container .main .deadline main ul li button:hover {
  color: whitesmoke;
}

.container .main .homework button:hover {
  background-color: #05ec24;
}

.container .main .recent button:hover,
.container .main .deadline button:hover {
  background-color: #ec2405;
}

@-webkit-keyframes menuAnimation {
  0% {
    width: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 200px;
    opacity: 1;
  }
}

@keyframes menuAnimation {
  0% {
    width: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 200px;
    opacity: 1;
  }
}

@-webkit-keyframes liAnimation {
  0% {
    margin-right: 2em;
    margin-right: 2em;
    opacity: 1;
  }
  25% {
    margin-right: 5em;
    margin-left: -5em;
    opacity: 1;
  }
  50% {
    margin-right: -5em;
    margin-left: 5em;
    opacity: 1;
  }
  100% {
    margin-right: 2em;
    margin-left: 2em;
    opacity: 1;
  }
}

@keyframes liAnimation {
  0% {
    margin-right: 2em;
    margin-right: 2em;
    opacity: 1;
  }
  25% {
    margin-right: 5em;
    margin-left: -5em;
    opacity: 1;
  }
  50% {
    margin-right: -5em;
    margin-left: 5em;
    opacity: 1;
  }
  100% {
    margin-right: 2em;
    margin-left: 2em;
    opacity: 1;
  }
}

@-webkit-keyframes deadlineAnimation {
  50% {
    font-size: 1.5em;
  }
}

@keyframes deadlineAnimation {
  50% {
    font-size: 1.5em;
  }
}

@media (max-width: 413px) {
  .container .menu .toggleDisplay ul li {
    font-size: 15px;
  }
  .container .main .header h1 {
    font-size: 22px;
  }
  .container .main .header p {
    margin: 2em auto;
    font-size: 10px;
  }
  .container .main .create main {
    width: 100%;
    margin: auto;
  }
  .container .main .create main label {
    font-size: 15px;
  }
  .container .main .create h1 {
    font-size: 22px;
    text-align: center;
  }
  .container .main .homework,
  .container .main .recent,
  .container .main .deadline {
    margin: 1em auto;
  }
  .container .main .homework h1,
  .container .main .recent h1,
  .container .main .deadline h1 {
    font-size: 20px;
  }
  .container .main .homework h2,
  .container .main .homework p,
  .container .main .homework h4,
  .container .main .recent h2,
  .container .main .recent p,
  .container .main .recent h4,
  .container .main .deadline h2,
  .container .main .deadline p,
  .container .main .deadline h4 {
    font-size: 10px;
  }
  .container .main .homework button,
  .container .main .recent button,
  .container .main .deadline button {
    padding: 0 1em;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */