@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine&family=IBM+Plex+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #fff;
    --color-bg: #1295ac;
}

html,
body,
#root,
.container {
    // width: 100%;
    // height: 100%;
    font-family: 'Ubuntu', sans-serif;
    // background: linear-gradient(to top, #005f73, #0a9396);
    background-color: #0a9396;
    // background: linear-gradient(to right, rgb(18, 149, 172) 30%, rgb(8, 105, 122) 70%);

}

.container {
    .menu {
        position: fixed;
        height: 100%;

        .div {
            height: 100%;
            padding-top: .5em;
            z-index: 999;
            display: inline-block;
        }

        #menu-icon,
        #notification,
        #question,
        #message {
            padding: .5em 1em;
            font-size: 1.5em;
            color: #fff;
            cursor: pointer;

        }

        #notification,
        #question,
        #message {
            font-size: 1.5em;
            transition: font-size .5s;

            &:hover {
                font-size: 2em;
            }
        }

        #notification {
            position: relative;

            .notification {
                font-size: 15px;
                top: 10px;
                left: 35px;
                border: 2px solid red;
                padding: 0px 4px;
                border-radius: 50%;
                position: absolute;
                background-color: red;
            }
        }

        .toggleDisplay {
            display: contents;

            ul {
                display: contents;

                li {
                    opacity: 0;
                    margin: 2em;
                    font-size: 20px;
                    padding-left: 1em;
                    list-style: none;
                    animation: menuAnimation .8s ease forwards;
                    transition: opacity 1s;

                    &:hover {
                        text-align: center;
                        padding: .2em 0;
                        background-color: #94d2bd;
                        color: #000;
                        box-shadow: -2px -2px white;
                        border-radius: 20px;
                    }

                    .warning {
                        display: none;
                        color: red;
                        font-size: 1em;
                        padding-left: 2em;
                        animation: deadlineAnimation 1s ease infinite forwards running;
                    }

                    #notif {
                        width: 20px;
                        height: 20px;
                        font-size: 12px;
                        text-align: center;
                        border-radius: 50%;
                        border: 2px solid black;
                    }
                }
            }
        }
    }

    .menuDisplay {
        width: 100%;
        background-color: rgba(102, 97, 97, .5);
        color: #fff;

        #menu-icon,
        #notification,
        #question,
        #message {
            display: none;
        }

        .div {
            background: linear-gradient(to top, #0a9396 10%, #005f73 90%);

            .close {
                opacity: 0;
                font-size: 1.5em;
                margin-bottom: 2em;
                transform: translateX(305px) translateY(20px);
                background-color: #fff;
                color: red;
                border: 2px solid red;
                border-radius: 50%;
                animation: display 1s forwards;

                &:active {
                    color: #fff;
                    background-color: red;
                    border: none;
                }

                #close {
                    padding: 5px 10px;
                }
            }
        }
    }

    .menuClose {
        .div {
            animation: LiAnimation .5s forwards;

            .close {
                display: none;
            }
        }

        ul {
            display: none;
        }
    }

    .main {
        padding: 1em;
        padding-left: 4em;
        width: 100%;

        .header {
            h1 {
                font-size: 23px;
                color: #fff;
            }

            p {
                margin: -1em auto 3em;
                text-align: right;
                font-family: 'IBM Plex Serif', serif;
                color: #fff;
            }
        }

        .create {
            width: 55%;
            display: block;
            background-color: rgba(255, 255, 255, .5);
            border-radius: 20px;
            margin: auto;
            padding: 2em;

            h1 {
                text-align: center;
                margin-bottom: 1em;
            }

            main {
                display: grid;
                margin: auto 4em;

                label {
                    margin: 1.5em 0 .5em;
                    font-size: 15px;
                }

                input,
                textarea {
                    padding: .5em .5em .5em 1em;
                    border-radius: 20px;
                    border: 2px solid #fff;
                }

                button {
                    width: 30%;
                    text-align: center;
                    justify-content: center;
                    margin: 2em auto;
                    padding: .5em 0;
                    border-radius: 20px;
                    border: none;

                    &:hover {
                        background-color: rgb(18, 149, 172);
                        color: #fff;
                        box-shadow: 0 0 3px #fff;

                    }
                }

            }
        }

        .homework,
        .recent,
        .deadline {
            display: none;
            width: 55%;
            margin: auto;

            h1 {
                color: #fff;
                text-align: center;
                font-size: 60px;
            }

            main {
                ul {
                    display: contents;

                    li {
                        margin: 1em;
                        padding: .5em 1em;
                        background-color: rgba(188, 227, 241, 1);
                        list-style: none;
                        overflow: hidden;
                        border-radius: 20px;
                        border: 6px double rgb(18, 149, 172);

                        h2,
                        p,
                        h4 {
                            margin: .3em 0;
                        }

                        h5 {
                            float: right;
                            margin-right: .5em;
                        }

                        button {
                            background-color: rgb(255, 255, 255);
                            float: right;
                            padding: .5em 1.5em;
                            margin: 0 .8em .5em 0;
                            border: none;
                            border-radius: 5px;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .homework {
            button {
                &:hover {
                    background-color: rgb(5, 236, 36);
                }
            }
        }

        .recent,
        .deadline {
            button {
                &:hover {
                    background-color: rgb(236, 36, 5);
                }
            }
        }

    }
}

@keyframes menuAnimation {
    0% {
        width: 0px;
    }

    50% {
        opacity: 0;
    }

    100% {
        width: 300px;
        opacity: 1;
    }
}

@keyframes LiAnimation {
    0% {
        width: 300px;
        background-color: aliceblue
    }

    50% {
        opacity: 1;
    }

    100% {
        width: 0;
        display: none;
    }
}

@keyframes deadlineAnimation {
    50% {
        font-size: .5em;
    }
}

@keyframes display {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}





@media (max-width: 362px) {
    .container {
        .menu {
            .toggleDisplay {
                ul {
                    li {
                        font-size: 15px;
                    }
                }
            }
        }

        .main {
            .header {
                h1 {
                    font-size: 22px;
                    text-align: center;
                }

                p {
                    margin: 2em auto;
                    font-size: 10px;
                }
            }

            .create {
                width: 100%;
                padding: .5em 1em;

                main {
                    margin: auto;

                    label {
                        font-size: 15px;
                    }
                }

                h1 {
                    font-size: 22px;
                    text-align: center;
                    margin-bottom: 0;
                }
            }

            .homework,
            .recent,
            .deadline {
                margin: 1em auto;
                width: 100%;

                main {
                    ul {
                        li {
                            margin: .5em auto;
                        }
                    }
                }

                h1 {
                    font-size: 20px;
                }

                h2,
                p,
                h4 {
                    font-size: 10px;
                }

                button {
                    padding: 0 1em;
                    font-size: 10px;
                }
            }
        }
    }
}